<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget-proxy" value="https://artifactory.questrade.com/artifactory/api/nuget/nuget-gallery" />
        <add key="questrade-development" value="https://artifactory.questrade.com/artifactory/api/nuget/DEV" />
        <add key="questrade-trunk" value="https://artifactory.questrade.com/artifactory/api/nuget/TRUNK" />
    </packageSources>
</configuration>